*{
    margin:0;
    padding:0;

}
html{
    font-size: 16px;
}

.corporatelogo{
    height:28rem;
    width:28rem;
    background-color: white;
    margin:0rem 1.9rem;
    border-radius: 7%;
}
.we-provide{

    background-color: teal;
width:93.6rem;
height:3.5rem;
margin:1.5rem 1.7rem;
opacity:0.18;
}

@media screen and (max-width:810px){
    html{
        font-size: 8px;
    }
}
@media screen and (max-width:410px){
    html{
        font-size: 4px;
    }
}